<div>
    <h1>CART</h1>
    <p ng-show="cart.items.length == 0">Ваша корзина пуста</p>
    <div class="container cart" ng-show="cart.items.length > 0">
        <div class="container">
<!--            <div class="row cart_title">-->
<!--                <div class="col-sm"></div>-->
<!--                <div class="col-sm">ТОВАР</div>-->
<!--                <div class="col-sm">ЦЕНА 1 ШТ.</div>-->
<!--                <div class="col-sm">КОЛИЧЕСТВО</div>-->
<!--                <div class="col-sm">ЦЕНА ТОВАРОВ</div>-->
<!--                <div class="col-sm">УДАЛИТЬ</div>-->
<!--            </div>-->
        </div>
        <div class="container">
            <div class="row cart_list" ng-repeat="p in cart.items">
                <div class="col-sm cart__image min"><img src="http://127.0.0.1:8080/api/v1/getimg?path={{p.mainImagePath}}" class="card-img-top cart__image" alt="productImage"></div>
                <div class="col-sm">{{p.productTitle}}</div>
                <div class="col-sm">{{p.pricePerProduct}} &#8381;</a></div>
                <div class="col-sm">
                    <button class="btn cart_add_minus_button" ng-click="decrementItem(p.productId)">&minus;</button>
                    {{p.quantity}}
                    <button class="btn cart_add_minus_button" ng-click="incrementItem(p.productId)">&plus;</button>
                </div>
                <div class="col-sm">{{p.price}} &#8381;</div>
                <div class="col-sm">
                    <button class="btn cart_add_minus_button" ng-click="removeItem(p.productId)">&cross;</button>
                </div>
            </div>
        </div>
        <div class="container">
            <p class="total_coast">Итого: {{cart.totalPrice}} &#8381;</p>
        </div>
        <button class="btn btn-primary" ng-click="checkOut()" ng-show="isUserLoggedIn() && cart.items.length > 0">
            Оформить заказ
        </button>
        <button class="btn btn-secondary" ng-click="disabledCheckOut()"
                ng-show="!isUserLoggedIn() && cart.items.length > 0">Оформить заказ
        </button>
    </div>
</div>