<div>
    <h1>Зарегистрироваться</h1></br>
    <form ng-submit="registerUser()" class="register_info">
        <input class="form-control" type="text" placeholder="Имя пользователя" ng-model="newUser.username" required>
        <p></p>
        <input class="form-control" type="password" placeholder="Пароль" ng-model="newUser.password" required>
        <p></p>
        <input class="form-control" type="password" placeholder="Подтвердите пароль" ng-model="newUser.passwordConfirm" required>
        <p></p>
        <input class="form-control" type="text" required pattern="\S+@[a-z]+.[a-z]+" placeholder="email" ng-model="newUser.email">
        <p></p>
        <div class="secret">
        <input class="form-control" type="text" placeholder="Секретный вопрос" ng-model="newUser.secretQuestion">
        <p></p>
        <input class="form-control" type="password" placeholder="Ответ" ng-model="newUser.secretAnswer">
        </div>
        <button type="submit" class="btn btn-primary">Регистрация</button>
    </form>
</div>
