<div xmlns="http://www.w3.org/1999/html">
    <h1>Каталог</h1>
    <div class="store_content">
        <div class="store_filters">
            <h3>Фильтровать</h3>
            <form novalidate ng-submit="showProducts()">
                <p></p>
                <input class="form-control" type="text" placeholder="Название" ng-model="title">
                <p></p>
                <input class="form-control" type="number" placeholder="Минимальная цена" ng-model="minPrice">
                <p></p>
                <input class="form-control" type="number" placeholder="Максимальная цена" ng-model="maxPrice">
                <p></p>
                <button type="submit" class="btn btn-primary">Фильтровать</button>
            </form>
        </div>
        <div class="main_store_content">
            <div class="card-group margin" ng-repeat="p in productsPage.content">
                <div class="card">
                    <img src="http://127.0.0.1:5555/file/api/v1/getimg?path={{p.mainImagePath}}" class="card-img-top cart__image" alt="productImage">
                    <div class="card-body">
                        <h5 class="card-title">{{p.title}}<span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">ID: {{p.id}}</span>
                        </h5>
                        <p class="card-text">
                        <p class="price_prod"> Цена: {{p.price}} &#8381;</p>
                        <p class="price_prod">Категория: {{p.categoryTitle}}</p>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <button class="btn btn-danger" ng-click="deleteProduct(p.id)" ng-show="isUserLoggedIn()">
                                УДАЛИТЬ
                            </button>
                            <button class="btn btn-primary" ng-click="navToEditProductPage(p.id)"
                                    ng-show="isUserLoggedIn()">
                                ИЗМЕНИТЬ
                            </button>
                            <button class="btn btn-primary" ng-click="addToCart(p.id)">В КОРЗИНУ</button>
                            <button class="likeButton" ng-click="addToFavorite(p.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                                </svg>
                            </button>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" ng-repeat="pageIndex in paginationArray">
                    <button class="page-link" ng-click="showProducts(pageIndex)">{{pageIndex}}</button>
                </li>
            </ul>
        </nav>
    </div>
</div>