<div>
    <h1>Восстановить пароль</h1></br>
    <form ng-submit="changePassword()">
        <input class="form-control" type="text" placeholder="Имя пользователя" ng-model="updatePassword.username" required>
        <p></p>
        <input class="form-control" type="text" required pattern="\S+@[a-z]+.[a-z]+" placeholder="email" ng-model="updatePassword.email">
        <p></p>
        <input class="form-control" type="text" placeholder="Ответ на секретный вопрос" ng-model="updatePassword.secretAnswer" required>
        <p></p>
        <input class="form-control" type="password" placeholder="Новый пароль" ng-model="updatePassword.password" required>
        <p></p>
        <button type="submit" class="btn btn-primary">Смена пароля</button>
    </form>
</div>
